/* Variables */

:root {
  --basic-black: rgba(0, 0, 0, 1);
  --active-black: rgba(0, 0, 0, 0.3);
  --hover-black: rgba(0, 0, 0, 0.6);
  --basic-white: rgba(255, 255, 255, 1);
  --active-white: rgba(255, 255, 255, 0.3);
  --active-white2: rgba(0, 0, 0, 0.0001);
  --modal-shadow: rgba(0, 0, 0, 0.4);
  --toggle-shadow: rgba(0, 0, 0, 0.15);
  --templates-shadow: rgba(0, 0, 0, 0.25);
  --basic-grey: rgba(238, 238, 238, 1);
  --slider-grey: rgba(193, 193, 193, 1);
  --grey-shadow: rgba(0, 1, 1, 0.1);
  --grey-extra-dark: rgba(40, 49, 54, 1);
  --disabled-grey: rgba(40, 49, 54, 0.3);
  --grey-dark: rgba(68, 68, 68, 1);
  --grey-dark-hover: rgba(68, 68, 68, 0.5);
  --grey-dark-catalog: rgba(77, 77, 77, 1);
  --grey-contacts: rgba(102, 102, 102, 1);
  --grey-social: rgba(225, 225, 225, 1);
  --focus-grey: rgba(223, 223, 223, 1);
  --active-grey: rgba(213, 213, 213, 1);
  --current-grey: rgba(219, 219, 219, 1);
  --input-grey: rgba(215, 220, 222, 1);
  --input-hover: rgba(180, 185, 187, 1);
  --toggle-grey: rgba(171, 171, 171, 1);
  --scale-grey: rgba(215, 220, 223, 1);
  --sorting-list-hover: rgba(166, 166, 166, 1);
  --sorting-list-active: rgba(35, 31, 32, 1);
  --sorting-list: rgba(166, 166, 166, 0.2);
  --basic-red: rgba(251, 86, 90, 1);
  --focus-red: rgba(231, 66, 70, 1);
  --active-red: rgba(215, 55, 59, 1);
  --basic-green: rgba(0, 202, 116, 1);
  --focus-green: rgba(0, 188, 108, 1);
  --active-green: rgba(0, 170, 98, 1);
  --bar-green: rgba(0, 202, 116, 1);
  --basic-yellow: rgba(239, 200, 73, 1);
  --focus-yellow: rgba(234, 181, 52, 1);
  --active-yellow: rgba(229, 167, 34, 1);
  --map-background: rgba(190, 194, 171, 1);
}

/* Global */

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", "Helvetica Neue", "Nimbus Sans", "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-extra-dark);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows:
    min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

/* Center */

.center {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */

.button {
  padding-top: 17px;
  padding-bottom: 15px;

  font: inherit;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--focus-red);
}

.button:active {
  color: var(--active-white);
  box-shadow: inset 0px 3px 0px var(--grey-shadow);
  background-color: var(--active-red);
}

/* Header */

.main-header {
  background-color: var(--basic-grey);
}

/* Main navigation */

.main-navigation {
  display: grid;
  grid-template-columns: 160px 1fr 160px;
  height: 70px;
  margin-top: 48px;
}

.site-navigation {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  column-gap: 46px;
}

.user-navigation {
  justify-self: right;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;

  display: block;
  padding-top: 27px;
  padding-bottom: 13px;
}

.user-navigation a {
  padding-left: 40px;
}

.navigation-current a {
  border-bottom: 2px solid var(--basic-red);
}

/* Второй вариант подчеркивания в главном меню

.site-navigation li,
.user-navigation li {
  position: relative;
}

.site-navigation .navigation-current::after,
.user-navigation .navigation-current::after {
  content: "";
  position: absolute;
  right: 0px;
  left: 0px;

  height: 2px;
  background-color: var(--basic-red);
}
*/

.site-navigation a[href]:hover,
.site-navigation a[href]:focus,
.user-navigation a[href]:hover,
.user-navigation a[href]:focus {
  color: var(--basic-red);
}

.site-navigation a[href]:active,
.user-navigation a[href]:active {
  color: var(--active-black);
}

.navigation-current a:not([href]) {
  color: var(--basic-black);
}

.cart-icon::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0px;

  width: 15px;
  height: 15px;

  background-image: url("../img/svg/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .cart-icon {
  position: relative;
}

/* Slider */

.slider {
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider .slider-item {
  background-repeat: no-repeat;
  background-position: 100%;
}

.slider .slider-item:nth-child(1) {
  background-image: url("../img/png/slide1.png");
}

.slider .slider-item:nth-child(2) {
  background-image: url("../img/png/slide2.png");
}

.slider .slider-item:nth-child(3) {
  background-image: url("../img/png/slide3.png");
}

.slider-item {
  box-sizing: border-box;
  width: 1157px;
  min-height: 427px;

  padding-top: 74px;
  padding-bottom: 80px;
}

.slider-item h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  width: 520px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.slider-item p {
  color: var(--grey-extra-dark);
  width: 416px;
  line-height: 25px;
  margin-bottom: 38px;
}

.slider-item a {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding-left: 54px;
  padding-right: 54px;
  max-width: 416px;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 546px;
  z-index: 2;

  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider-controls button {
  position: relative;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;

  width: 4px;
  height: 4px;

  border: 2px solid var(--slider-grey);
  border-radius: 50%;
}

/* End of Header */

/* Main-Index */
/* Services */

.services {
  box-sizing: border-box;
  min-height: 509px;
  border-bottom: 2px solid var(--basic-grey);
  padding: 80px 0;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item img {
  display: block;
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 16px;
}

.services-item p {
  margin-bottom: 32px;
}

.services-item a {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding-left: 39px;
  padding-right: 40px;
  max-width: 300px;
}

.button-green {
  background-color: var(--basic-green);
}

.button-green:hover,
.button-green:focus {
  background-color: var(--focus-green);
}

.button-green:active {
  background-color: var(--active-green);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--focus-yellow);
}

.button-yellow:active {
  background-color: var(--active-yellow);
}

/* About-us */

.about-us {
  display: grid;
  grid-template-columns: 2fr 1fr;

  box-sizing: border-box;
  height: 527px;
  border-bottom: 2px solid var(--basic-grey);
  padding: 39px 0 73px;
}

.about-us-description {
  box-sizing: border-box;
}

.about-us-statistics {
  box-sizing: border-box;
  width: 360px;
  justify-self: right;
}

.about-us-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 46px;
  color: var(--basic-black);
  padding: 0;
  margin-top: 34px;
  margin-bottom: 31px;
}

.about-us-text {
  width: 646px;
  margin-bottom: 41px;
}

.about-us-list-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.about-us-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us-list li {
  position: relative;

  margin-bottom: 24px;
  padding-left: 36px;
}

.about-us-list li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: var(--basic-red);
}

.about-us-statistics img {
  margin-bottom: 30px;
}

.about-us-table {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 357px;
  text-align: left;
}

.about-us-table caption {
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  padding-bottom: 31px;
  padding-left: 5px;
}

.about-us-table td {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  width: 119px;
  height: 64px;
}

.about-us-table sup {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  top: -16px;
  color: var(--basic-black);
}

.about-us-table th {
  font-weight: 400;
  line-height: 18px;
  padding-top: 9px;
}

/* Partners */

.partners {
  box-sizing: border-box;
  height: 182px;
  border-bottom: 2px solid var(--basic-grey);
  margin-bottom: 80px;
}

.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;

  list-style: none;
  margin: 0;
  padding: 0;
  height: 184px;
  justify-items: center;
}

.partners-list-item {
  position: relative;
}

.partners-list-item a {
  opacity: 0.2;
}

.partners-list-item a:hover,
.partners-list-item a:focus {
  opacity: 1;
}

.partners-list-item a:active {
  opacity: 0.1;
}

.partners-list-item::after {
  content: "";
  position: absolute;
  top: 64px;
  right: -50px;
  height: 52px;
  width: 2px;
  background: var(--basic-grey);
}

.logo-borodinski::after {
  right: -45px;
}

.logo-pink::after {
  right: -57px;
}

.logo-mishka::after {
  display: none;
}

.partners-list-item img {
  width: auto;
}

.logo-htmlacademy img {
  padding-top: 63px;
  padding-left: 3px;
}

.logo-borodinski img {
  padding-top: 46px;
  padding-left: 3px;
}

.logo-pink img {
  padding-top: 65px;
  padding-left: 3px;
}

.logo-mishka img {
  padding-top: 52px;
}

/* End of Main-Index */

/* Main-Catalog */
/* Button-Catalog */

.button-catalog {
  color: var(--basic-black);
  background-color: var(--basic-grey);
}

.button-catalog:hover,
.button-catalog:focus {
  color: var(--basic-black);
  background-color: var(--focus-grey);
}

.button-catalog:active {
  color: var(--active-black);
  background-color: var(--active-grey);
  box-shadow: inset 0px 3px 0px var(--grey-shadow);
}

/* Title-Catalog */

.title-catalog {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  text-align: center;
  margin: 0;
  padding-top: 73px;
  padding-bottom: 109px;
}

/* Page-Catalog */

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  padding-top: 55px;
}

/* Filter */

.filter-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter legend,
.sorting,
.templates-item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter-price legend,
.filter-grid legend,
.filter-features legend,
.sorting {
  margin: 0;
  padding: 0;
}

.grid-list,
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Filter-price */

.filter-price label {
  line-height: 22px;
  text-transform: uppercase;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 11px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-grey);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--scale-grey);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--bar-green);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input[type="number"]::-webkit-outer-spin-button,
.price-controls input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-controls input[type="number"],
.price-controls input[type="number"]:hover,
.price-controls input[type="number"]:focus {
  -moz-appearance: textfield;
}

.price-controls input,
.price-controls input:hover,
.price-controls input:focus {
  outline: none;
  border: none;
  background-color: var(--basic-grey);
  border-radius: 3px;
  width: 62px;
  padding: 9px;
  margin-left: 8px;
  text-align: center;
}

.price-controls input[value] {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--grey-extra-dark);
}

/* Filter-grid Filter-features */

.filter-grid legend {
  padding-top: 54px;
  padding-bottom: 16px;
}

.filter-features legend {
  padding-top: 25px;
  padding-bottom: 16px;
}

.grid-list li,
.features-list li {
  margin-bottom: 20px;
  margin-left: 36px;
}

.grid-list label,
.features-list label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

  line-height: 20px;
  color: var(--grey-extra-dark);
}

.filter-input + label::before,
.filter-input + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;

  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input:checked + label::before,
.filter-input:checked + label::before {
  display: none;
}

.filter-input:not(:disabled):hover + label::before,
.filter-input:not(:disabled):hover + label::after,
.filter-input:not(:disabled):focus + label::before,
.filter-input:not(:disabled):focus + label::after {
  opacity: 1;
}

.filter-input:disabled + label::before,
.filter-input:disabled + label::after {
  opacity: 0.1;
}

.filter-input:disabled + label {
  color: var(--disabled-grey);
}

.filter-input-radio + label::before {
  width: 25px;
  height: 25px;
  background-image: url("../img/svg/radio-off.svg");
}

.filter-input-radio:checked + label::after {
  width: 25px;
  height: 25px;
  background-image: url("../img/svg/radio-on.svg");
}

.filter-input-checkbox + label::before {
  width: 23px;
  height: 23px;
  background-image: url("../img/svg/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::after {
  width: 25px;
  height: 23px;
  background-image: url("../img/svg/checkbox-on.svg");
}

.filter-form .button-catalog {
  margin-top: 29px;
  padding-left: 88px;
  padding-right: 90px;
}

/* Templates */
/* Sorting */

.templates {
  margin-left: 141px;
}

.templates-sorting {
  display: flex;
  padding-bottom: 48px;
}

.type-sorting-list,
.direction-sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.type-sorting-list {
  display: flex;
  width: 272px;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.type-sorting-list a {
  font-size: 14px;
  line-height: 18px;
  color: var(--active-black);
  text-transform: uppercase;
}

.type-sorting-list a[href]:hover,
.type-sorting-list a[href]:focus {
  color: var(--hover-black);
}

.type-sorting-list a[href]:active,
.type-current a:not([href]) {
  color: var(--basic-black);
}

.direction-sorting-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 87px;
}

.direction-sorting-list li {
  padding-left: 19px;
}

.button-down {
  display: block;

  border-right: 5.5px solid transparent;
  border-bottom: 10px solid var(--sorting-list);
  border-left: 5.5px solid transparent;
  transform: rotate(180deg);
}

.button-up {
  display: block;

  border-right: 5.5px solid transparent;
  border-bottom: 10px solid var(--sorting-list);
  border-left: 5.5px solid transparent;
}

.direction-sorting-list a[href]:hover,
.direction-sorting-list a[href]:focus {
  border-bottom-color: var(--sorting-list-hover);
}

.direction-sorting-list a[href]:active {
  border-bottom-color: var(--sorting-list-active);
}

.direction-current a {
  border-bottom-color: var(--sorting-list-active);
}

/* Templates-list */

.templates-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 25px;
}

.templates-item {
  position: relative;
  width: 360px;
}

.templates-item:hover,
.templates-item:focus {
  filter: drop-shadow(0px 6px 15px var(--templates-shadow));
}

.templates-item::before {
  content: "";
  position: absolute;
  left: -1px;

  width: 360px;
  height: 40px;

  background-image: url("../img/svg/browser.svg");
  background-repeat: no-repeat;
}

.templates-item:hover::before,
.templates-item:focus::before {
  background-image: url("../img/svg/browser-hover.svg");
}

.templates-item img {
  width: 358px;
  height: 578px;
  padding-top: 40px;
}

.templates-item-description {
  position: absolute;
  bottom: 5px;
  left: -1px;

  display: none;

  box-sizing: border-box;
  width: 100%;
  min-height: 231px;
  max-height: 578px;
  padding: 26px 10px 44px;
  text-align: center;
  background-color: var(--basic-grey);
}

.templates-item:hover .templates-item-description,
.templates-item:focus .templates-item-description {
  display: block;
}

.templates-item-container {
  text-align: center;
}

.templates-item-description h3 {
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
}

.templates-item-description h3:hover,
.templates-item-description h3:focus {
  color: var(--basic-red);
}

.templates-item-description h3:active {
  color: var(--basic-grey);
}

.templates-item-description p {
  line-height: 18px;
  color: var(--grey-contacts);
  text-align: center;
  margin: 0;
  margin-bottom: 33px;
}

.templates-item-description .button {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding-left: 72px;
  padding-right: 72px;
}

/* Pagination */

.pagination-navigation {
  margin-top: 51px;
  margin-bottom: 60px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-list li {
  margin-right: 10px;
}

.pagination-item a {
  display: block;
  padding: 16px 21px;
}

.button-pagination-current a:not([href]) {
  background-color: var(--active-white2);
  border: 3px solid var(--current-grey);
  padding: 13px 18px;
}

.pagination-item .next-page {
  padding: 16px 78px;
}

/* End of Main-Catalog */

/* Footer */
/* Contacts */

.contacts {
  position: relative;

  height: 416px;
  overflow: hidden;
  background-color: var(--map-background);

  margin-bottom: 38px;
}

.contacts iframe {
  position: relative;
  z-index: 2;

  width: 100%;
  height: 416px;

  border: none;
}

.contacts img {
  position: absolute;
  top: 0;
  z-index: 1;

  margin: 0 auto;
  height: 416px;
}

.contacts-info {
  position: absolute;
  top: 54px;
  z-index: 2;

  box-sizing: border-box;
  width: 319px;
  height: 308px;
  padding: 31px 50px 47px;

  background-color: var(--basic-white);
}

.contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-bottom: 22px;
}

.contacts-address,
.contacts-phone {
  line-height: 18px;
  color: var(--grey-contacts);
}

.contacts-info .button {
  padding-left: 44px;
  padding-right: 44px;
  margin-top: 18px;
}

/* Social */

.social {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  margin-bottom: 80px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 79px;
  height: 79px;

  background-color: var(--grey-social);
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--focus-red);
}

.social-button:active {
  background-color: var(--active-red);
}

.social-button:active svg {
  opacity: 0.3;
}

.social-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin-bottom: 10px;
}

.social-text {
  line-height: 22px;
  color: var(--grey-dark);
  margin: 0;
  padding-bottom: 7px;
}

/* End of Footer */

/* Modal */

.modal {
  display: none;
}

.modal-show {
  display: block;
}

.modal-contacts {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -295px;
  margin-left: -480px;
  z-index: 3;

  box-sizing: border-box;
  width: 960px;
  min-height: 590px;
  padding: 63px 100px 85px 100px;

  color: var(--basic-black);

  background: var(--basic-white);
  box-shadow: 0 20px 40px 0 var(--modal-shadow);
}

.modal-contacts h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin: 0;
  margin-bottom: 34px;
}

.modal-item-contacts {
  display: flex;
  justify-content: space-between;
}

.modal-item-contacts div {
  width: 360px;
}

.modal-close {
    position: absolute;
    top: 77px;
    right: 87px;

    width: 27px;
    height: 27px;
    padding: 0;

    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  width: 27px;
  height: 5px;

  background-color: var(--basic-red);
  transform: rotate(45deg);
}

.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  width: 27px;
  height: 5px;

  background-color: var(--basic-red);
  transform: rotate(-45deg);
}

.modal-form {
  position: relative;
}

.modal-form label {
  font-weight: 700;
  line-height: 24px;
}

.modal-form input,
.modal-form textarea {
  box-sizing: border-box;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 31px;
  padding: 13px;
  line-height: 18px;

  border: 2px solid var(--input-grey);
  border-radius: 3px;
}

.modal-form textarea {
  min-height: 117px;
  margin-bottom: 45px;
}

.modal-form input::placeholder,
.modal-form textarea::placeholder {
  color: var(--grey-dark-hover);
  opacity: 1;
}

/* Hover */

.modal-form input:hover,
.modal-form textarea:hover {
  border: 2px solid var(--input-hover);
  border-radius: 3px;
}

.modal-form input:hover::placeholder,
.modal-form textarea:hover::placeholder {
  color: var(--grey-dark-hover);
  opacity: 1;
}

/* Focus */

.modal-form input:focus,
.modal-form textarea:focus {
  outline: none;
  border: 2px solid var(--basic-black);
  border-radius: 3px;
  color: var(--grey-dark);
}

.modal-form input:focus::placeholder,
.modal-form textarea:focus::placeholder {
  color: transparent;
  opacity: 1;
}

/* Invalid */

.modal-form input:invalid {
  color: var(--focus-red);

  border-color: var(--focus-red);
}

.modal-form .button {
  padding-left: 84px;
  padding-right: 84px;
}

/* End of Modal */
